<h1> Person </h1>
<h2><%= @person.name %></h2>
  <h3><%= @person.age %></h3>
  <h4><%= @person.hair_color %></h4>
  <h5><%= @person.eye_color %></h5>
  <h6><%= @person.gender %></h6>
  <h7><%= @person.alive %></h7>
  <%= link_to 'back', people_path %>
  